<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Todo App</title>
  </head>
  <body>
    <h1>{{ title }}</h1>
    <h3 *ngIf="!todos.length">
      <small>
        Você ainda não possui nenhuma tarefa hoje! Adicione novas tarefas...
      </small>
    </h3>
    <ul>
      <li *ngFor="let todo of todos">
        {{ todo.id }}. {{ todo.title }} |
        <button (click)="remove(todo)">Remover</button> |
        <button (click)="markAsDone(todo)" *ngIf="!todo.done">Concluir</button>
        |
        <button (click)="markAsUndone(todo)" *ngIf="todo.done">Refazer</button>
      </li>
    </ul>

    <form [formGroup]="form">
      <fieldset>
        <label>Tarefa: </label>
        <input
          type="text"
          formControlName="title"
          maxlength="60"
          placeholder="Título da sua tarefa..."
        />
        <small
          *ngIf="
            form.controls['title'].invalid && !form.controls['title'].pristine
          "
        >
          Este campo deve conter entre 3 e 60 caracteres...
        </small>
        <button [disabled]="form.invalid" (click)="add()">Criar Tarefa</button>
      </fieldset>
    </form>
  </body>
</html>
